@import"./button.css";
@import"./bttn-icon.css";
@import"./header.css";
@import"./hero.css";
@import"./wrapper.css";
@import"./menu.css";
@import "./proyect.css";
@import "./social.css";
@import "./footer.css";
@import "./form.css";
@import "./title.css";


:root{
--fontBase: 'Poppins', sans-serif;
--headline1: bold 95px/153.71px var(--fontBase);
--headline2: bold 59px/95px var(--fontBase);
--headline3: bold 48px/77px var(--fontBase);
--headline4: bold 34px/55px var(--fontBase);
--headline5: bold 24px/38px var(--fontBase);
--body1: 16px/25px var(--fontBase);
--body2: 14px/22px var(--fontBase);
--button: bold 14px/22px var(--fontBase);
--form: bold 16px/22px var(--fontBase);
--caption: 12px/19px var(--fontBase);
--gradient: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
}

body{
    background: #4F4F4F;
    font: var(--body1);
    color:#fa9da0 ;
    margin: 0;
}
#correito{
    opacity: 0;
}